
{% extends "base_generic.html" %}

{% block title %}Управление новостями{% endblock %}

{% block content %}
<h1>Управление новостями</h1>
<a href="{% url 'news_add' %}">Добавить новость</a>
<table>
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Дата публикации</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for news in object_list %}
        <tr>
            <td>{{ news.title }}</td>
            <td>{{ news.published_date }}</td>
            <td>
                <a href="{% url 'news_edit' news.pk %}">Редактировать</a>
                <a href="{% url 'news_delete' news.pk %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}