{% extends 'base_generic.html' %}

{% block title %}CRUD Index{% endblock %}
{% block content %}

<body>
    <div class="content">
        {% if user.is_authenticated %}
        {% if user.profile.role  %}
        <h1>Здравствуйте, {{ user.username }} {{ user.profile.role }}!</h1>
        {% else %}
        <h1>Здравствуйте, {{ user.username }} админ!</h1>
        {% endif %}
        {% else %}
            <h1>Привет, неизвестный водитель!</h1>
        {% endif %}
        {% if last_article %}
            <h2>{{ last_article.title }}</h2>
            <img src="{{ last_article.image.url }}" alt="Картинка" width="400">
            <p>{{ last_article.short_description }}</p>
        {% else %}
            <p>Пока нет опубликованных статей.</p>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="jokes-section">
            <h2>Шутки дня</h2>
            <ul>
                {% for joke in jokes %}
                    <li>
                        <p><strong>{{ joke.setup }}</strong></p>
                        <p>{{ joke.punchline }}</p>
                        {% if joke.image_url %}
                            <img src="{{ joke.image_url }}" alt="Joke Image" width="300">
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    
</body>
{% endblock %}
